#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}


.headerText {
  position: absolute;
  top: 0;
  left: 0;
  padding:10px;
  padding-right:86%;
  font-size:60px;
  color: white;
  text-shadow: 2px 2px 2px gray;
  box-shadow: 6px 4px 6px rgba(0,0,0,0.3);
}

.guide {
  position:fixed;
}

.uploadCont {
  font-size:40px;
}
